<p>registrer works!</p>

<form [formGroup]="registrerFormGroup" (ngSubmit)="crearusuario()" >
    <label for="fname">Nombre:</label><br>
    <input type="text" data-testid="nombre" formControlName="nombre" ><br>
    <label for="lname">Correo:</label><br>
    <input type="text" data-testid="correo" formControlName="correo"><br><br>
    <label for="lname">Contraseña:</label><br>
    <input type="text" data-testid="password" formControlName="password"><br><br>
    <button type="submit" [disabled]="registrerFormGroup.invalid" >Click Me!</button>
    <button (click)="login()">Login!</button>

</form> 