<div *ngIf="isLoggedIn; else loggedOut">
  Logged in as edwin.
</div>

<ng-template #loggedOut>
<form #loggedOut (ngSubmit)="formulario.form.valid && autenticar()"  #formulario="ngForm" class="example-form">
    <p>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="correo" [(ngModel)]="formulario.correo" name="correo"></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="contraseña" [(ngModel)]="formulario.contrasena" name="contrasena"></textarea>
      </mat-form-field>
    </p>
    <div class="form-group">
        <button class="btn btn-primary">Login</button>
        <div *ngIf="formulario.submitted && isLoginFailed" class="alert alert-danger">
          Login failed: {{errorMessage}}
        </div>
      </div>
</form>
</ng-template>
