<mat-drawer-container class="em-form">



    <div>
        <button (click)="obtenerRutina()" type="button" class="btn btn-primary">Iniciar Speaking</button>
    </div>
    <div class="container container-form-em" *ngIf="hoyYaRealizoAprender == false">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="progress bar-container">
                        <div class="progress-bar progress-bar-striped active" [ngStyle]="{width: barraProgreso + '%'}" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                            {{barraProgreso}}%
                        </div>
                    </div>

                    <form class="">
                        <mat-form-field class="em-margin-input" style="width: 75%;" id="verb_input">
                            <input *ngIf="isEmpty(usuario.sistema.hojaSeleccionado.rutina.english) === false" autocomplete="off" id="entrada" matInput type="text" placeholder="" class="form-control" name="in" readonly 
                            [(ngModel)]="usuario.sistema.hojaSeleccionado.rutina.english[usuario.sistema.hojaSeleccionado.rutina.indiceVerboValidar]"
                                style="text-align:center; background-color: #3CBC8D; color: revert;" autofocus>
                        </mat-form-field>
                    </form>

                    <form class="">
                        <mat-form-field style="width: 75%;">
                            <input autocomplete="off" matInput type="text" placeholder="" class="form-control" name="in" readonly 
                            [(ngModel)]="usuario.sistema.hojaSeleccionado.rutina.fonetica[usuario.sistema.hojaSeleccionado.rutina.indiceVerboValidar]" style="text-align:center; background-color: #3cabbc; color: revert;">
                        </mat-form-field>
                    </form>

                    <form class="" #formulario="ngForm">
                        <mat-form-field class="em-margin-input" style="width: 75%;" id="verb_input">
                            <textarea #verboEntradaInput [readonly]="!editable" autocomplete="off" matInput type="text" placeholder="" class="form-control {{colorSegunValidacionClass}}" name="in" (input)="validarVerboEntredaConVerboRutina($event.target.value); colorSegunValidacion($event.target.value);"
                                [(ngModel)]="verboEntrada"> </textarea>
                        </mat-form-field>
                    </form>

                    <div *ngIf="showOptions == true && !this.usuario.sistema.hojaSeleccionado.rutina.orden" class="btn-group-vertical" role="group" aria-label="Vertical button group">
                        <button *ngFor='let option of opciones; let indexOfelement=index;' id="{{indexOfelement + 1}}" mdbBtn (click)="validarTraductorSeleccionado(option.valido)" type="button" color="amber" class="waves-light ml-0" mdbWavesEffect>{{indexOfelement + 1}}. {{option.descripcion}}</button>
                    </div>
                    <div *ngIf="showOptions == true && this.usuario.sistema.hojaSeleccionado.rutina.orden" class="btn-group-vertical" role="group" aria-label="Vertical button group">
                        <button *ngFor='let option of opciones; let indexOfelement=index;' id="{{indexOfelement + 1}}" mdbBtn (click)="validarTraductorSeleccionado(option.valido)" type="button" color="amber" class="waves-light ml-0" style="width: 75%;" mdbWavesEffect>{{indexOfelement + 1}}. {{option.descripcion}}</button>
                    </div>

                    <div>
                        <div *ngIf="voiceActiveSectionDisabled; else voicesection;">
                            <button id="record" type="button" (click)="startVoiceRecognition()">Record</button>
                        </div>
                        <ng-template #voicesection>
                            <ng-container *ngIf="!voiceActiveSectionError; else failure">
                                <ng-container *ngIf="voiceText; else start">
                                    <span>{{voiceText}}</span>
                                </ng-container>
                                <ng-template #start>
                                    <ng-container *ngIf="voiceActiveSectionListening; else beginning">
                                        <span>Listening...</span>
                                    </ng-container>
                                    <ng-template #beginning>
                                        <span>Start talking...</span>
                                    </ng-template>
                                </ng-template>
                            </ng-container>
                            <ng-template #failure>
                                <span>Didn't catch that</span>
                            </ng-template>
                            <div>
                                <button id="Alt" class="btn btn-primary" (click)="closeVoiceRecognition()">Close</button>
                                <button id="AltGraph" class="btn btn-primary" (click)="startVoiceRecognition()">Restart</button>
                            </div>
                        </ng-template>
                    </div>

                </div>

            </div>


            <div class="row">
                <div class="col-sm">
                    <nav class="em-nav nav flex-column float-right">
                        <button id="ArrowRight" (click)="next()" type="button" class="btn btn-primary"> * Next {{this.intentos}} / {{this.intentos_alta}} *</button>
                        <button id="ArrowLeft" (click)="reproducir()" type="button" class="btn btn-primary"> * Reproducir *</button>
                        <div class="container-reproducir-siguiente">
                            <button (click)="reproducirSiguientePalabra()" type="button" class="btn btn-primary">Reproducir</button>
                            <select class="verbos-reproducir" id="exampleFormControlSelect1" [(ngModel)]="cantidadVerbosReproducir">
                                <option *ngFor='let em of [].constructor(numeroPalabras); let i = index;'  [value]="i">{{i+1}}</option>
                            </select>
                        </div>
                        <button (click)="mostrarSiguientePalabra()" type="button" class="btn btn-primary">* Ayuda
                            Siguietne Palabra*</button>
                        <button id="ArrowDown" (click)="mostrarAyuda()" type="button" class="btn btn-primary">* Ayuda *</button>
                    </nav>
                </div>
            </div>
            <div *ngIf="activarAyuda" class="bar-container alert alert-warning">
                <strong>{{palabraActual}}</strong>
            </div>
        </div>
    </div>
    <p *ngIf="hoyYaRealizoAprender">La Rutina no tiene verbos por repasar-> {{hoyYaRealizoAprender}}</p>
</mat-drawer-container>