    <mat-drawer-container class="example-header">
        <div class="form-group">
            <button class="btn btn-primary" (click)="cerrarsesion()">Logout</button>
        </div>
    </mat-drawer-container>

    <mat-drawer-container class="main-container-em">
        <mat-drawer class="menu-container" mode="side" opened>
            <mat-list *ngFor="let tema of temas">
                <mat-list-item style="cursor: pointer" [ngClass]="colorSegunValidacion(tema['realizadoHoy'])" (click)="content(tema)">{{tema["tema"]}} * </mat-list-item>
            </mat-list>
        </mat-drawer>

        <div *ngFor="let tema of temas; let hojaTemaExcel = index">
            <div class="tabs-em container" *ngIf="tabSeleccionado == tema['tema']">
                <mat-tab-group class="em-group-tabs">
                    <mat-tab class="em-aprender-tab" label="Aprender | {{tema['tema']}}">
                        <app-present-verb-aprender [hojaTemaExcel]="hojaTemaExcel" (ultimFechaAprendido)='hoyRealizoAprender($event, tabSeleccionado)' ></app-present-verb-aprender>
                    </mat-tab>
                    <mat-tab class="em-rutina-tab" label="Rutina | {{tema['tema']}}">
                        <app-present-verb [hojaTemaExcel]="hojaTemaExcel"></app-present-verb>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>

    </mat-drawer-container>