<mat-drawer-container class="example-header">
    <div class="form-group">
        <button class="btn btn-primary" (click)="cerrarsesion()">Logout</button>
    </div>
</mat-drawer-container>

<mat-drawer-container class="main-container-em">
    <mat-drawer class="menu-containerr" position="start" mode="side" opened>
        <mat-list *ngFor="let hoja of usuario.sistema.excelSeleccionado.hojas">
            <mat-list-item style="cursor: pointer" [ngClass]="colorSegunValidacion(hoja['ultimaFechaAprendio']) + colorSegunValidacionRutina(hoja['ultimaFechaRutina']) + colorSegunValidacionSpeaking(hoja['ultimaFechaSpeaking'])" (click)="selectedHoja(hoja)">
                <span [ngClass]="getClassPorRutina(hoja)"></span> <span [ngClass]="getClassSpeaking(hoja)" style="color: blue;"></span> {{hoja["nombre"]}} [ {{hoja["ultimoIndiceAprendido"]}}/{{hoja["filas"]}} ]
            </mat-list-item>
        </mat-list>
    </mat-drawer>

    <mat-drawer class="excel-container" position="end" mode="side" opened>
        <mat-list *ngFor="let excel of usuario.excels ">
            <mat-list-item style="cursor: pointer" [ngClass]="getClassSelectedExcel(excel)" (click)="selectedExcel(excel)">{{excel["nombre"]}} {{getHojasPorRutina(excel)}}</mat-list-item>
        </mat-list>
    </mat-drawer>

    <div *ngIf="!isEmpty(usuario.sistema.hojaSeleccionado)">
        <div class="tabs-em container">

            <button class="tablink" (click)="openPage('Home', 'aprender')">Aprender</button>
            <button class="tablink" (click)="openPage('News', 'rutina')" id="defaultOpen">Rutina</button>
            <button class="tablink" (click)="openPage('Contact', 'speaking')">Speaking</button>

            <div id="Home" class="tabcontent">
                <app-present-verb-aprender></app-present-verb-aprender>
            </div>
            <div id="News" class="tabcontent">
                <app-present-verb></app-present-verb>
            </div>
            <div id="Contact" class="tabcontent">
                <app-speaking></app-speaking>
            </div>
        </div>
    </div>

</mat-drawer-container>