.main-container-em {
    width: 99%;
    height: 700px;
    margin: 10px;
    border: 1px solid rgb(143, 136, 136);
  }
  
  .example-header {
    width: 99%;
    height: 70px;
    margin: 10px;
    border: 1px solid rgb(143, 136, 136);
  }

  .menu-container {
      width: 20%;
      background-color: cornflowerblue;
  }
  
  .theme{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    width: 15%;
  }

  .map-ripple-element{
    background-color: #007bff;
  }
  