.main-container-em {
    width: 99%;
    height: 700px;
    margin: 10px;
    border: 1px solid rgb(143, 136, 136);
    background-color: black;
}

.excel-container {
    right: 0px;
}

.hoja-container {
    right: 200px;
}

.example-header {
    width: 99%;
    height: 70px;
    margin: 10px;
    border: 1px solid rgb(143, 136, 136);
    background-color: black;
}

.menu-container {
    width: 20%;
    background-color: black;
}

.theme {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    width: 15%;
}

.map-ripple-element {
    background-color: #007bff;
}

.tabs-em {
    color: #fff;
}

.is-active {
    background-color: red;
}

.outset {
    border-right: rgb(0, 191, 255) 15px solid;
}

.outsetspeaking {
    border-left: rgb(0, 0, 255) 15px solid;
}

* {
    box-sizing: border-box
}


/* Set height of body and the document to 100% */

body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}


/* Style tab links */

.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #777;
}


/* Style the tab content (and add height:100% for full page content) */

.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

.visible {
    visibility: visible;
}

.not-visible {
    visibility: hidden;
}