
<mat-drawer-container class="main-container-em">
    <mat-drawer class="menu-container" position="start" mode="side" opened>
        <mat-list *ngFor="let hoja of usuario.sistema.excelSeleccionado.hojas">
            <mat-list-item style="cursor: pointer; color: #f9e509;" 
            [ngClass]="colorSegunValidacionRutina(hoja['porRutina'])" 
            (click)="selectedHoja(hoja); openPage('Home', 'aprender');">
            <span [ngClass]="getClassPorRutina(hoja)"></span> 
            {{hoja["nombre"]}} [ {{hoja["ultimoIndiceAprendido"]}}/{{hoja["filas"]}} ]
            </mat-list-item>
        </mat-list>
    </mat-drawer>

    <div *ngIf="!isEmpty(usuario.sistema.hojaSeleccionado)" class="main-container-present-verb-aprender">
        <div class="tabs-em container">
            <div id="Home">
                <app-present-verb-aprender></app-present-verb-aprender>
            </div>
        </div>
    </div>

    <mat-drawer class="excel-container" position="end" mode="side" opened>
        <mat-drawer-container class="excel-item-container">
            <mat-list *ngFor="let espacio of usuario.espaciosTrabajo">
                <div style="display: flex; color: #f9e509;">
                    <mat-list-item style="cursor: pointer" Class="btn-primary" (click)="obtenerExcelPorEstado(espacio)">
                        {{espacio}}
                </mat-list-item>
              </div>
            </mat-list>
        </mat-drawer-container>

        <mat-list  class="ho-container" *ngFor="let excel of usuario.excels ">
            <div style="display: flex; color: #f9e509;">
                <mat-list-item style="cursor: pointer" Class="btn-primary" (click)="selectedExcel(excel)">
                    {{excel["nombre"]}}
            </mat-list-item>
          </div>
        </mat-list>
    </mat-drawer>

</mat-drawer-container>