<mat-tab-group>
    <mat-tab label="Past">

        Content  {{verb.past}}

        <div class="example-button-row">
          <button (click)="onAudioPlay()" mat-raised-button>Listen!!!</button>
        </div>

        <audio #audioOption>
          <source src='{{verb.mp3Path}}' type="audio/mp3">
        </audio>  

        <form class="example-form" #pastVerbform="ngForm">
            <mat-form-field class="example-full-width" style="width: 1000px;" id="verb_input">
              <input #inpput matInput type="text" placeholder="" class="form-control" name="in" (input)="inputWord($event.target.value);" [(ngModel)]="input.verb" >
            </mat-form-field>
        </form>

    </mat-tab>
  
    <mat-tab label="Review"> 
    </mat-tab>  
    
    <mat-tab label="Third"> 
    </mat-tab>
  
  </mat-tab-group>