<mat-tab-group>
  <mat-tab label="First">
  
      Content  {{verb.present}}
  
      <div class="example-button-row">
        <button (click)="onAudioPlay()" mat-raised-button>Listen!!!</button>
      </div>
  
      <div class="example-button-row">
        <button mat-raised-button>next!!!</button>
      </div>
  
      <h1> * {{verb.present}} * {{setting_present.repeatToLearnedVerbNumber}} </h1>
  
      <audio #audioOption>
        <source src='{{verb.mp3Path}}' type="audio/mp3">
      </audio>
  
      <form class="example-form" #verbform="ngForm">
          <mat-form-field class="example-full-width" style="width: 1000px;" id="verb_input">
            <input #inpput matInput type="text" placeholder="" class="form-control" name="in" (input)="inputWord($event.target.value);" [(ngModel)]="input.verb" >
          </mat-form-field>
      </form>
  

  </mat-tab>
  <mat-tab label="Second"> 
  
    Content 2 {{verb.present}}

  </mat-tab>  
  <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>