<mat-drawer-container class="em-form">
    <div>
        <button (click)="getRutina()" *ngIf="hoyYaRealizoAprender" type="button" class="btn btn-primary"> Iniciar Aprendizaje </button>
    </div>
    <div class="container container-form-em" *ngIf="hoyYaRealizoAprender == false">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="progress bar-container">
                        <div class="progress-bar progress-bar-striped active" [ngStyle]="{width: barraProgreso + '%'}"
                            role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                            style="width:40%">
                            {{barraProgreso}}%
                        </div>
                    </div>
                    <table class="table-medium-font">
                        <tbody>
                            <tr id="th_main" style="background-color: #3CBC8D;">
                                <td><b>{{englishVerbo}}</b></td>
                            </tr>
                            <tr>
                                <td>{{foneticaVerbo}}</td>
                            </tr>
                            <tr>
                                <td>{{spanishVerbo}}</td>
                            </tr>
                        </tbody>
                    </table>                    
                    <table class="table-medium-font" *ngIf="examples && examples.length > 0">
                        <thead>
                            <tr>
                                <th>Example</th>
                                <th>Reproducir</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let example of examples; let i = index;" id="fila_{i}">
                                <tr id="fila_{{i}}">
                                    
                                    <th>{{example.english}}</th>
                                    <td rowspan="2"><button (click)="reproducir_individual(i)">Action</button></td>
                                </tr>
                                <tr id="fila_{{i}}_">
                                    <td>{{example.fonetica}}</td>
                                </tr>
                                <tr>
                                    <td>{{example.spanish}}</td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="fixed-footer">
        <button id="autocompletar" (click)="autocompletar()" type="button" class="btn btn-primary">* Autocompletar*</button>
    </div>
    <p *ngIf="hoyYaRealizoAprender == true">Hoy ya realizaste esta Rutina -> {{hoyYaRealizoAprender}}</p>
</mat-drawer-container>