.tp-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
 }

 .tp-margin {
    margin: 0 10px;
 }
 
 
 .example-form {
   height: 149px;
}

.em-tab{
    width: 83%;
 }
 