.tp-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.tp-margin {
  margin: 0 10px;
}


.example-form {
 height: 149px;
}

.em-tab{
 width: 83%;
}

.tp-section {
 display: flex;
 align-content: center;
 align-items: center;
 height: 60px;
}

.tp-margin {
 margin: 0 10px;
}

.example-form {
height: 149px;
}

.em-tab{
 width: 83%;
}

.menu-container {
width: 20%;
background-color: cornflowerblue;
}

.theme{
color: #fff;
background-color: #007bff;
border-color: #007bff;
width: 15%;
}

.bar-container {
  width: 100%;
}

.em-margin-input{
margin-top: 20px;
}

.validacionExitosa{
box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
color: black;
transform: translateY(-7px);
}

.validacionError{
box-shadow: 0px 15px 20px #ffb3b3;
color: black;
transform: translateY(-7px);
}

.validacionVacia{
box-shadow: 0px 15px 20px #80bfff;
color: black;
transform: translateY(-7px);
}

.em-nav button {
margin: 5px;
}

.mat-tab-list {
 background-color: #007bff !important;
}

.verbos-reproducir{
 width: 60px;
}

.container-reproducir-siguiente{
display: -webkit-inline-box;
}

p {
  color: white;
}

table, th, td {
  border: 1px solid rgb(251, 242, 242);
  border-collapse: collapse;
  border-style: dotted;
}

table {
  width: 100%;
}

.table-small-font {
  font-size: 12px;
}

.table-large-font {
  font-size: 20px;
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  width: 43%;
  background-color: white;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.table-container {
  height: 10vmax; /* Limita la altura del contenedor */
  overflow: auto; /* Permite el scroll */
}

.mat-header-row {
  position: sticky;
  top: 0; /* Fija el encabezado en la parte superior */
  z-index: 10; /* Asegura que quede sobre las filas */
  background-color: #ffffff; /* Fondo blanco para el encabezado */
  border-bottom: 2px solid #ccc; /* Borde para separar encabezado */
}


.image-container {
  display: flex;           /* Flexbox para alinear elementos */
  justify-content: center; /* Centrado horizontal */
  align-items: center;     /* Centrado vertical */
  height: 65vh;            /* Asegura que el contenedor ocupe toda la celda */
}

.responsive-image {
  max-width: 100%; /* Imagen no excede el ancho de la celda */
  width: auto;    /* Mantiene la proporción original */
  max-height: 65vh; /* Límite máximo de altura */
}

.success {
  background-color: #505055;
  border-left: 6px solid #04AA6D;
}

.table-container-sin-imagen {
  height: 31vmax; /* Limita la altura del contenedor */
  overflow: auto; /* Permite el scroll */
}